header {
    height:70px;
    width:100%;
    background-color:white;
    position:absolute;
    border-bottom: 1px solid #CCCCCC;
    top: 0;
}
.logo {
    margin-left: 20px;
    margin-top: 3px;
    width: 142px;
    height: 60px;
    background-image: url("../images/logo.png");
    background-repeat: no-repeat;
}
