div.container section.filters {
    background-color: white;
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
}
div.container section.filters button {
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border: none;
    border-radius: 4px;
    position: absolute;
    left: 780px;
    top: 12px;
    float: left;
}
div.container section.filters button:hover {
    opacity: 0.9;
}
.container .filters .locations {
    height: 100%;
    width: 25%;
    border-right: 1px solid #DDDDDD;
    position: absolute;
    padding-left: 40px;
    padding-right: 40px;
}
.container .filters .amenities {
    height: 100%;
    width: 25%;
    position: absolute;
    margin-left: 300px;
    padding-left: 30px;
    padding-right: 40px;
    left: 30px;
}
div.container section.filters div.locations h3 {
    font-weight: 600;
}
div.container section.filters div.locations h4 {
    font-size: 14px;
    font-weight: 400;
    padding: -35px 0;
    margin: -10px 0;
}
div.container section.filters div.amenities h3 {
    font-weight: 600;
    padding: -10px 0;
}
div.container section.filters div.amenities h4 {
    font-size: 14px;
    font-weight: 400;
    padding: -35px 0;
    margin: -10px 0;
}
.popover {
    display: none;
    position: relative;
    background-color: #FAFAFA;
    width: 100%;
    border: 1px solid #DDDDDD;
}
.amenities .popover {
    margin: 24px;
    padding-left: 40px;
    margin-left: -30px;
}
.locations .popover {
    margin: 24px;
    margin-left: -41px;
    margin-down: 40px;
    padding-right: 40px;
}
.popever, ul {
    list-style-type: none;
}
.amenities:hover .popover {
    display: block;
}
.locations:hover .popover {
    display: block;
}

.amenities > .popover > li {
    margin: 15px;
    margin-left: 5px;
    margin-bottom: 10px;
}
.locations > .popover > .cites > li {
    margin: 15x;
    margin-left: 50px;
}
.locations > .popover > ul {
    padding-bottom: 15px;
    margin-left: -40px;
}
